Flask==2.3.3
Flask-SQLAlchemy==3.0.3
Flask-Cors==3.0.10
python-dotenv==1.0.0

# FastAPI stack
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
reportlab==4.0.9
requests==2.31.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
fastapi-mail==1.4.1
email-validator==2.1.0
psycopg2-binary==2.9.9
cloudinary==1.36.0
